*{
  font-family: 'Jua';
}



div.title{
  text-align: center;
}

div.menu{
  position: absolute;
  top: 160px;
  left: 100px;
  width: 800px;
  height: 100px;
}
div.info{
  position: absolute;
  top: 350px;
  left: 20px;
  width: 250px;
  height: 300px;
}
div.main{
  position: absolute;
  top: 300px;
  left: 310px;
  width: 800px;
  height: 500px;
}

ul.menu li{
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: 2px solid gray;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: pink;
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
}

img.main{
  width: 150px;
  height: 150px;
  border: 3px solid gray;
  box-shadow: 5px 5px 5px #ddd;
  border-radius: 100px;
  margin-right: 10px;
}

a:hover{
  color: crimson;
}